@media (min-width: 992px) {
    header {
        .navbar-nav {
            .nav-item {
                margin-right: 26px;
 
                &:last-child {
                    margin-right: 0;
                }
            }
    
            }
        }
        .form-calculation {
            min-width: 662px;
        }
    }