///colors///
$primary-color: #E58D35;
$secondary-color: #89C249; 
$accest-background: #363A4D;
$text: #FFFFFF;
$font-size: 16px;
$background: #282B38;



// ///fonts///
 $font-primary: "ProximaNova";

// 
$section-padding: 90px 12px 100px;
$title-margin: 60px;

