<section div class="services">
    <div class="container-fluid">
    <div class="template-title">
        <h2>услуги</h2>
    </div> 
    <div class="slider-template">
<div class="slider-template-item" style="background-image: url(assets/img/services-1.png);"> 
    <div class="slider-template-item_title">Выкуп товара</div>
   <div class="slider-template-item_description">
    Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина. 
   </div>
    <div class="slider-template-item_buttons">
        <button class="btn btn-secondary">Подробнее</button>
    </div>
</div>

<div class="slider-template-item" style="background-image: url(assets/img/services-2.png);"> 
    <div class="slider-template-item_title">Страховка груза</div>
   <div class="slider-template-item_description">
    Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина. 
   </div>
    <div class="slider-template-item_buttons">
        <button class="btn btn-secondary">Подробнее</button>
    </div>
</div>

<div class="slider-template-item" style="background-image: url(assets/img/services-3.png);"> 
    <div class="slider-template-item_title">Аренда склада</div>
   <div class="slider-template-item_description">
    Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина. 
   </div>
    <div class="slider-template-item_buttons">
        <button class="btn btn-secondary">Подробнее</button>
    </div>
</div>

<div class="slider-template-item" style="background-image: url(assets/img/services-4.png);"> 
    <div class="slider-template-item_title">Перевод денежных средств</div>
   <div class="slider-template-item_description">
    Компания - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина. 
   </div>
    <div class="slider-template-item_buttons">
        <button class="btn btn-secondary">Подробнее</button>
    </div>
</div>

    </div>
</div>
</section>