<section div class="delivery">
	<div class="container-fluid">
		<div class="template-title after-green">
			<h2>Варианты доставки грузов из Китая</h2>
		</div>
		<div class="slider-template">
			<div class="slider-template-item">
				<div class="slider-template-item_img-box">
					<img
						src="./assets/img/delivery-1.png"
						class="img-fluid"
						alt="delivery"
					/>
				</div>
				<div class="slider-template-item_title">Авто - обычная</div>
				<div class="slider-template-item_option">
					<div class="slider-template-item_option-item option-item-calendar">
						9-15 дней
					</div>
					<div class="slider-template-item_option-item option-item-weight">
						от 5кг
					</div>
				</div>
				<div class="slider-template-item_price">
					<span>от</span>
					<strong>2,5</strong>
					<span>$/кг</span>
				</div>
				<div class="slider-template-item_buttons">
					<button class="btn btn-primary">Оставить заявку</button>
					<button class="btn btn-secondary">Подробнее</button>
				</div>
			</div>
			<div class="slider-template-item">
				<div class="slider-template-item_img-box">
					<img
						src="./assets/img/delivery-2.png"
						class="img-fluid"
						alt="delivery"
					/>
				</div>
				<div class="slider-template-item_title">Авто - ускоренная</div>
				<div class="slider-template-item_option">
					<div class="slider-template-item_option-item option-item-calendar">
						9-15 дней
					</div>
					<div class="slider-template-item_option-item option-item-weight">
						от 5кг
					</div>
				</div>
				<div class="slider-template-item_price">
					<span>от</span>
					<strong>2,5</strong>
					<span>$/кг</span>
				</div>
				<div class="slider-template-item_buttons">
					<button class="btn btn-primary">Оставить заявку</button>
					<button class="btn btn-secondary">Подробнее</button>
				</div>
			</div>
			<div class="slider-template-item">
				<div class="slider-template-item_img-box">
					<img
						src="./assets/img/delivery-3.png"
						class="img-fluid"
						alt="delivery"
					/>
				</div>
				<div class="slider-template-item_title">Авиа</div>
				<div class="slider-template-item_option">
					<div class="slider-template-item_option-item option-item-calendar">
						9-15 дней
					</div>
					<div class="slider-template-item_option-item option-item-weight">
						от 5кг
					</div>
				</div>
				<div class="slider-template-item_price">
					<span>от</span>
					<strong>2,5</strong>
					<span>$/кг</span>
				</div>
				<div class="slider-template-item_buttons">
					<button class="btn btn-primary">Оставить заявку</button>
					<button class="btn btn-secondary">Подробнее</button>
				</div>
			</div>
			<div class="slider-template-item">
				<div class="slider-template-item_img-box">
					<img
						src="./assets/img/delivery-4.png"
						class="img-fluid"
						alt="delivery"
					/>
				</div>
				<div class="slider-template-item_title">Ж/д</div>
				<div class="slider-template-item_option">
					<div class="slider-template-item_option-item option-item-calendar">
						9-15 дней
					</div>
					<div class="slider-template-item_option-item option-item-weight">
						от 5кг
					</div>
				</div>
				<div class="slider-template-item_price">
					<span>от</span>
					<strong>2,5</strong>
					<span>$/кг</span>
				</div>
				<div class="slider-template-item_buttons">
					<button class="btn btn-primary">Оставить заявку</button>
					<button class="btn btn-secondary">Подробнее</button>
				</div>
			</div>
			<div class="slider-template-item">
				<div class="slider-template-item_img-box">
					<img
						src="./assets/img/delivery-5.png"
						class="img-fluid"
						alt="delivery"
					/>
				</div>
				<div class="slider-template-item_title">Море</div>
				<div class="slider-template-item_option">
					<div class="slider-template-item_option-item option-item-calendar">
						9-15 дней
					</div>
					<div class="slider-template-item_option-item option-item-weight">
						от 5кг
					</div>
				</div>
				<div class="slider-template-item_price">
					<span>от</span>
					<strong>2,5</strong>
					<span>$/кг</span>
				</div>
				<div class="slider-template-item_buttons">
					<button class="btn btn-primary">Оставить заявку</button>
					<button class="btn btn-secondary">Подробнее</button>
				</div>
			</div>
		</div>
	</div>
</section>
