<section class="calculation container-fluid">
	<div class="template-title">
		<h2>О компании</h2>
	</div>
	
<div class="about-text">
	<p>
		Компания Азия Карго - это полный комплекс логистических услуг по доставке грузов из Китая в Украину - сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Украина. Для вашего удобства есть тарифы на лёгкий и тяжелый куб. Мы работаем на рынке более 4 лет, а руководители компании занимаются логистикой уже более 11 лет.
	</p>

	<p>
		Мы стремимся предоставить лучшие условия доставки и лучший сервис своим клиентам. Выбирая нас - вы выбираете качественную доставку оптимальную по цене и времени! Убедитесь в этом сами!
	</p>
	<div class="about-img">
		<img src="./assets/img/company.png" alt="company">
	</div>
</div>
<section class="calculation">
	<div class="template-title after-green">
		<h2>Готовы к сотрудничеству?</h2>
		<h3>Зарегистрируйте груз!</h3>
	</div>
</section>

<section class="calculation">
	<div class="template-title-left after-green">
		<h2>О компании</h2>
	</div>
</section>

<section class="calculation">
	<div class="template-title-left after-inline after-green">
		<h2>Получить рассчет стоимости доставки вашего груза</h2>
	</div>
</section>

<section class="calculation">
	<div class="template-title-left after-inline">
		<h2>Получить рассчет стоимости доставки вашего груза</h2>
	</div>
</section>
